body{
    background: #eeedec;
    letter-spacing: 0.2em;
    font-size: 0.8em;

}

.container{

    max-width: 400px;
}

.icon{

    position: relative;
    border-radius: 50%;  
    top: -50px;
    width: 100px;
    margin-bottom: -50px;
}